<div class="container">
    <span class="work_bloks">
        <button class="work" id="1" (click)="addPlan()" (mousemove)="addText()">Сон</button>
        <button class="work" id="1" (click)="addPlan()" (mousemove)="addText()">Гимнастика</button>
        <button class="work" id="1" (click)="addPlan()" (mousemove)="addText()">Чтение</button>
        <button class="work" id="1" (click)="addPlan()" (mousemove)="addText()">Прогулка</button>
        <button class="work" id="1" (click)="addPlan()" (mousemove)="addText()">Отдых</button>
        <button class="work_plus" (click)="addWork()">+</button>
    </span>
    <span class="plan_bloks">
        <div class="markup">
            <div class="markup_time">
                <div>07:00</div>
                <div>08:00</div>
                <div>09:00</div>
                <div>10:00</div>
                <div>11:00</div>
                <div>12:00</div>
                <div>13:00</div>
                <div>14:00</div>
                <div>15:00</div>
                <div>16:00</div>
                <div>17:00</div>
                <div>18:00</div>
                <div>19:00</div>
                <div>20:00</div>
                <div>21:00</div>
            </div>
            <div class="markup_containers">
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
                <div> </div>
            </div>
        </div>
    </span>
</div>