.task-time {
	color: white;
	gap: 10px;
	background-color: #2e5d9ec4

	;
	--paddingX: 20px;
	--paddingY: 15px;
	padding: var(--paddingY) var(--paddingX);
	border-radius: 20px;
	margin: auto;
	margin-top: 20px;
	/* width: 80%; */
	max-width: 300px;
	position: relative;
}

.task-time__time {
	display: flex;
	align-items: center;
	gap: 10px;
	--color:white;
	color: var(--color);
	font-size: smaller;
	padding-bottom: 40px;
}

.task-time__task {
	font-weight: bold;
	margin: 10px;
	margin-left: 0;
}

.task-time__hyphen {
	width: 10px;
	height: 1.5px;
	background-color: var(--color);
}

.task-time__music-icon {
	width: 25px;
	position: absolute;
	top: var(--paddingY);
	right: var(--paddingX);
}

.task-time__trash {
	color: white;
	background-color: #EA5E3A;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	/* font-weight: bold; */
	font-size: 0.9em;
	position: absolute;
	bottom: var(--paddingY);
	right: var(--paddingX);
	cursor: pointer;
	transition: box-shadow 0.2s linear;
}

.task-time__trash:hover {
	box-shadow: 0 0 10px #D0C3BD;
}
