

<header>
  <div class="container">
		<h1>PlanPlace</h1>
	</div>
</header>

<main>
  <div class="container">
		<router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="container"></div>
</footer>
<!--
<app-friday-plan></app-friday-plan>
-->


<!-- <div class="wrapper">
    <div [class]="menu">
      <button href="#" [class]="menubtn" (click)="expand()">
        <span></span>
      </button>
      <nav class="menu-list">
        <a href="">Главная</a>
      </nav>
    </div>
    <div class="content" [ngClass]="{'content_active': contentActive}">
      <header>
        <h1>PlanPlace</h1>
      </header>
      <main>
        <div class="week_days">
          <ul>
            <li><button routerLink="mon" routerLinkActive="week_day_active">Понедельник</button></li>
            <li><button routerLink="tue" routerLinkActive="week_day_active">Вторник</button></li>
            <li><button routerLink="wed" routerLinkActive="week_day_active">Среда</button></li>
            <li><button routerLink="thu" routerLinkActive="week_day_active">Четверг</button></li>
            <li><button routerLink="fri" routerLinkActive="week_day_active">Пятница</button></li>
            <li><button routerLink="sat" routerLinkActive="week_day_active">Суббота</button></li>
            <li><button routerLink="sun" routerLinkActive="week_day_active">Воскресенье</button></li>
          </ul>
        </div>
        <router-outlet></router-outlet>
        <section class="night">
          <h2>Склько будем спать?</h2>
          <div class="flexbox">
            <button class="night_cycle">
              <p class="time">25м</p>
              <p>00:00</p>
            </button>
            <button class="night_cycle">
              <p class="time">1ч 45м</p>
              <p>00:00</p>
            </button>
            <button class="night_cycle">
              <p class="time">3ч 15м</p>
              <p>00:00</p>
            </button>
            <button class="night_cycle">
              <p class="time">4ч 45м</p>
              <p>00:00</p>
            </button>
          </div>
          <div class="flexbox">
            <button class="night_cycle">
              <p class="time">6ч 15м</p>
              <p>00:00</p>
            </button>
              <button class="night_cycle">
              <p class="time">7ч 45м</p>
              <p>00:00</p>
            </button>
            <button class="night_cycle">
              <p class="time">9ч 15м</p>
              <p>00:00</p>
            </button>
          </div>
          <div class="sounds">
            <h2>Звуки для сна</h2>
            <ul>
              <li><button class="sound">Лес</button></li>
              <li><button class="sound">Дождь</button></li>
              <li><button class="sound">Ветер</button></li>
              <li><button class="sound">Волны</button></li>
              <li><button class="sound">Огонь</button></li>
              <li><button class="sound">Листья</button></li>
              <li><button class="sound">Ход часов</button></li>
            </ul>
          </div>
        </section>
      </main>
    </div>
  </div> -->
