.popup {
	background-color: #5f3b39;
	color: white;
	padding: 30px 25px;
	text-align: center;
}

.input {
	margin: 20px;
	background-color: #E0D6CD;
	border: none;
	border-radius: 20px;
	color: #4f312f;
	padding: 20px 25px;
}

.task {
	font-size: medium;
}

.button {
	background-color: #2e5d9ec4;
	border: none;
	border-radius: 20px;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
	transition-duration: 0.2s;
}

.button:hover {
	-moz-box-shadow:0 0 10px rgb(255, 255, 255); -webkit-box-shadow:0 0 10px rgb(255, 255, 255); box-shadow:0 0 10px rgb(255, 255, 255);
}

.button:disabled:hover {
	-moz-box-shadow:0 0 0; -webkit-box-shadow:0 0 0; box-shadow:0 0 0;
}

.button:disabled {
	cursor: none;
	background-color: rgba(19, 1, 1, 0.3);
	color: rgba(255, 255, 255, 0.3);
	border-color: rgba(195, 195, 195, 0.3);
}
