:host {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.days {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.days__button {
	color: #ffffff;
	background: linear-gradient(to top right, rgba(163, 43, 222, 0.9), rgba(14, 106, 209, 0.9));
	padding: 5px;
	min-width: 110px;
	width: 7%;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: box-shadow 0.2s linear;
}

.days__button:hover {
	box-shadow: 0 0 10px rgba(167, 141, 180, 0.9);
}

.day_active {
	background: linear-gradient(to top right, rgb(255, 2, 221), rgb(0, 213, 255));
	color: white;
}

.tasks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.task {
	color: #ffffff;
	background: linear-gradient(to top right, rgba(163, 43, 222, 0.9), rgba(14, 106, 209, 0.9));
	padding: 10px 20px;
	min-width: 110px;
	width: 7%;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.85em;
	transition: box-shadow 0.2s linear;
}

.task_new {
	color: white;
	background: linear-gradient(to top right, rgb(255, 2, 221), rgb(0, 213, 255));
	width: auto;
	min-width: auto;
	transition-duration: 0.2s;
}

.task:hover {
	box-shadow: 0 0 10px rgba(167, 141, 180, 0.9);
}

.task_new:hover {
	box-shadow: 0 0 10px rgba(167, 141, 180, 0.9);
}
