:host {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.days {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.days__button {
	color: #84514E;
	background-color: #E0D6CD;
	padding: 5px;
	min-width: 110px;
	width: 7%;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: box-shadow 0.2s linear;
}

.days__button:hover {
	box-shadow: 0 0 10px rgb(255, 255, 255);
}

.day_active {
	background-color: #EA5E3A;
	color: white;
}

.tasks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.task {
	color: #534F4C;
	background-color: #E0D6CD;
	padding: 10px 20px;
	min-width: 110px;
	width: 7%;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.85em;
	transition: box-shadow 0.2s linear;
}

.task_new {
	color: white;
	background-color: #EA5E3A;
	width: auto;
	min-width: auto;
	transition-duration: 0.2s;
}

.task:hover {
	box-shadow:0 0 10px rgb(255, 255, 255);
}

.task_new:hover {
	box-shadow:0 0 10px rgb(255, 255, 255);
}
