*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	--bgColor: rgb(34, 34, 34);
	--color: white;
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--bgColor);
	margin: 0;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: var(--color);
}

.body_overflow_hidden {
	overflow: hidden;
}

.container {
	max-width: 1000px;
	display: block;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}
